<div class="row">
  <div class="col-12">
    <h5 class="text-center">Savings</h5>
  </div>
</div>
<div class="row .row-eq-spacing">
  <div class="col-12">
    <div class="content m-10 m-md-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th><i class="fas fa-file-invoice-dollar"></i></th>
            <th class="text-right"><i class="fas fa-receipt"></i></th>
            <th class="text-right"><i class="fas fa-wallet"></i></th>
          </tr>
        </thead>
        <tbody>
          {% for savings in user_savings %}
          <tr>
            <th>{{ savings.name|truncatechars:10 }}</th>
            <td>{{ savings.amount|floatformat:0 }}</td>
            <td class="text-right">{{ savings.per_paycheck_saving|floatformat:0 }}</td>
            <td class="text-right">{{ savings.annual_saving|floatformat:0 }}</td>
            <td class="text-right"><a href="{% url 'delete_savings' savings.id %}"><i class="far fa-times-circle"></i></a>
            </td>
          </tr>
          {% endfor %}
          <tr id="savings_total">
            <th>Total:</th>
            <td></td>
            <td class="text-right">{{ user_budget.total_paycheck_savings|floatformat:0 }}</td>
            <td class="text-right">{{ user_budget.total_annual_savings|floatformat:0 }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% include 'components/initial/budget_form.html' with form=savings_form post_url="/create/savings/" target="savings_total" %}
