{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper with-navbar with-navbar-fixed-bottom" id="page-wrapper">
  <div class="sticky-alerts"></div>
  {% include 'components/initial/navbar.html' %}
  <div class="content-wrapper">
    <div class="container">
      {% include 'components/initial/income_display.html' %}
      {% include 'components/initial/expense_display.html' %}
      {% include 'components/initial/savings_display.html' %}
    </div>
  </div>
  <nav class="navbar navbar-fixed-bottom">
    Footer
  </nav>
</div>

{% endblock content %}
