{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper with-navbar with-navbar-fixed-bottom" id="page-wrapper">
  <div class="sticky-alerts"></div>
  <nav class="navbar">
    <div class="navbar-content">
      <p>Flexbudget</p>
    </div>
    <div class="navbar-content ml-auto">
      <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
        <i class="fa fa-moon-o" aria-hidden="true"></i>
        <span class="sr-only">Toggle dark mode</span>
      </button>
      <a href="#" class="btn btn-primary" role="button">Get started</a>
    </div>
  </nav>
  <div class="content-wrapper">
    <h1>main</h1>
  </div>
  <nav class="navbar navbar-fixed-bottom">
    Footer
  </nav>
</div>



{% endblock content %}
