{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper with-navbar with-navbar-fixed-bottom" id="page-wrapper">
  <div class="sticky-alerts"></div>
  <nav class="navbar">
    <div class="navbar-content">
      <p>Flexbudget</p>
    </div>
    <div class="navbar-content ml-auto">
      <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()">
        <i class="fa fa-moon-o" aria-hidden="true"></i>
        <span class="sr-only">Toggle dark mode</span>
      </button>
      <a href="#" class="btn btn-primary" role="button">Get started</a>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5 class="text-center">Income</h5>
        </div>
      </div>
      {% include 'components/income_display.html' %}
      {% include 'components/budget_form.html' with form=income_form post_url="/update/income/" %}
      <div class="row">
        <div class="col-12">
          <h5 class="text-center">Expenses</h5>
        </div>
      </div>
      {% include 'components/expense_display.html' %}
      {% include 'components/budget_form.html' with form=expense_form post_url="/update/expense/" %}
      <div class="row">
        <div class="col-12">
          <h5 class="text-center">Savings</h5>
        </div>
      </div>
      {% include 'components/savings_display.html' %}
      {% include 'components/budget_form.html' with form=savings_form post_url="/update/savings/" %}
    </div>
  </div>
  <nav class="navbar navbar-fixed-bottom">
    Footer
  </nav>
</div>

{% endblock content %}
