<div class="row .row-eq-spacing">
  <div class="col-12">
    <div class="content m-10 m-md-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th><i class="fas fa-file-invoice-dollar"></i></th>
            <th><i class="fas fa-receipt"></i></th>
            <th><i class="fas fa-wallet"></i></th>
            <th class="text-right"><i class="fas fa-recycle"></i></th>
            <th class="text-right"><i class="fas fa-recycle"></i></th>
          </tr>
        </thead>
        <tbody>
          {% for expense in user_expenses %}
          <tr>
            <th>{{ expense.name|truncatechars:10 }}</th>
            <td>{{ expense.category|truncatechars:10 }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.frequency }}</td>
            <td class="text-right">{{ expense.per_paycheck_cost }}</td>
            <td class="text-right">{{ expense.annual_cost }}</td>
            <td class="text-right"><a href="{% url 'delete_expenses' expense.id %}"><i class="far fa-times-circle"></i></a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <th>Total:</th>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">{{ user_budget.total_paycheck_expenses|floatformat:0 }}</td>
            <td class="text-right">{{ user_budget.total_annual_expenses|floatformat:0 }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
